#ignore Grav
backup/
bin/
cache/
logs/
node_modules/
system/
tmp/
vendor/
webserver-configs/
*.php
site.webmanifest
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENSE.txt
composer.json
composer.lock
robots.txt