html, body {
    margin:0;
    padding:0;
    background:$blue;
    color:$white;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    line-height:1.6em;
}

body {
    padding-top:69px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    line-height:1.2em;
    margin:5px 0;
}

h1 {
    font-size:40px;
    margin:0 0 15px;
    @media screen and (min-width:768px) {
        font-size:60px;
    }
}

h2 {
    font-size:30px;
    @media screen and (min-width:768px) {
        font-size:36px;
    }
}

h3 {
    font-size:20px;
    line-height:1.3em;
    @media screen and (min-width:768px) {
        font-size:26px;
        line-height:1.3em;
    }
}

a {
    opacity:0.8;
    transition:opacity 0.3s;
    color:inherit;
    &:hover, &:focus {
        opacity: 1;
    }
}

* {
    box-sizing:border-box;
}

img {
    max-width: 100%;
}

.btn {
    box-shadow: rgba(black, 0.1) 0px 4px 0px;
    color:$black;
    display: inline-block;
    padding:10px 20px;
    border-radius:5px;
    min-width:150px;
    text-align:center;
    text-decoration:none;
    font-weight:bold;
    position: relative;
    overflow:hidden;
    background:$white;
    opacity:0.9;
    font-size:20px;
    transition:background 0.3s, box-shadow 0.3s, transform 0.1s;
    margin-top:25px;
    transform:translateY(0);
    backface-visibility: hidden;
    &:hover {
        box-shadow: rgba(black, 0.1) 0px 7px 0px;
        transform:translateY(-3px);
    }
}

.sep {
    display: block;
    position: relative;
    padding-bottom:10px;
    &:after {
        content:"";
        display: block;
        width:100%;
        max-width:100px;
        left:0;
        bottom:0;
        transform:translateY(16px);
        height: 2px;
        opacity:0.6;
        background:$pastel_blue;
    }
}

h1 {
    &.sep {
        &:after {
            transform:translateY(10px);
        }
    }
}