
.module {
    position: relative;
    min-height:50vh;
    padding:70px 0;
    h1:first-child {
        margin:0;
    }
}



.light-bg {    
    background:$white;
    background:linear-gradient(-45deg, lighten($green, 60%) 5%, $white 50%);
    background-position:fixed;
    color:$black;
    .title, .date {
        color: $grey_dark;
    }
    p {
        color:$charcoal;
    }
    .btn {        
        background:linear-gradient(-45deg, $purple, $blue);
        background-size:180% 180%;
        animation: gradient 40s ease infinite;
        opacity:0.9;
        transition:opacity 0.3s, box-shadow 0.3s;
        color:$white;
        &:hover {
            background:linear-gradient(-45deg, $purple, $blue);
            background-size:180% 180%;
            animation: gradient 40s ease infinite;
            opacity:1;
            span {      
            }
        }
    }
}

.dark-bg {    
    background:linear-gradient(-45deg, darken($blue, 27%), $black, darken($purple, 40%));
    background-size:150% 150%;
    @media screen and (min-width:768px) {
        animation: gradient 20s ease infinite;
    }
    color:$white;
    p {
        color:$grey;
    }
    h1, .title, .date {
        color: $white;
    }
}

.goverlay {    
    background:linear-gradient(-45deg, rgba(darken($blue, 27%),0.9), rgba($black,0.9), rgba(darken($purple, 40%),0.9));
    background-size:150% 150%;
    //animation: gradient 20s ease infinite;
}

.colour-bg {
    background:linear-gradient(-45deg, $pink, $purple, $blue, $green) fixed;
    background-size:180% 180%;
    @media screen and (min-width:768px) {
        animation: gradient 40s ease infinite;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}