
.module {
    position: relative;
    min-height:50vh;
    padding:70px 0;
    h1 {
        color:$white;
    }
}



.light-bg {    
    background:$white;
    background-position:fixed;
    color:$grey;
    h1 {
        color:$blue;
        &.sep {
            &:after {
                background:$blue;
            }
        }
    }
    .title, .date {
        color: $charcoal;
    }
    p {
        color:$grey;
    }
    .btn {        
        background:$blue;
        opacity:0.9;
        color:$white;
        &:hover {
            opacity:1;
        }
    }
}

.dark-bg {    
    background:$black;
    background-size:150% 150%;
    @media screen and (min-width:768px) {
        animation: gradient 20s ease infinite;
    }
    color:$white;
    p {
        color:$grey;
    }
    h1, .title, .date {
        color: $white;
    }
}

.goverlay {    
    background:linear-gradient(-45deg, rgba(darken($blue, 27%),0.9), rgba($black,0.9), rgba(darken($purple, 40%),0.9));
    background-size:150% 150%;
    //animation: gradient 20s ease infinite;
}

.colour-bg, body {
    //background:repeating-linear-gradient(-45deg, $purple, $purple 20%, $blue 20%, $blue 80%, $green 80%, $green 100%) fixed;
    background:linear-gradient(-45deg, $pink, $purple, $blue, $green) fixed;
    background-size:180% 180%;
    color:$pastel_blue;
    @media screen and (min-width:768px) {
        animation: gradient 20s ease infinite;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}