.release {
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items:left;
    justify-content: center;
    overflow:hidden;
    .gallery {
        padding-top:15px;
        a {
            display: block;
            opacity:1;
            position: relative;
            transition:top 0.3s, box-shadow 0.3s;
            top:0;
            margin-bottom:30px;
            width:100%;
            padding-bottom:100%;
            overflow:hidden;
            &:hover {
                top:-5px;
                box-shadow:rgba($black, 0.1) 0 5px 10px;
            }
            img {
                position: absolute;
                left: 50%;
                top: 0;
                transform:translate(-50%,0);
            }
            &:after {
                display: block;
                clear:both;
                float:none;
                content:"";
            }
        }
    }
    &.eor {
        .feature-imgs {
            a {
                .feat-img {
                    padding-bottom:90%;
                }
            }
        }
    }
    .feature-imgs {
        padding-bottom:100%;
        margin:60px 0 0;
        a {
            position: absolute;
            top:50%;
            left:0%;
            width:85%;
            padding-bottom:100%;
            overflow:visible;
            transform:translateZ(1px) translateY(-50%) perspective(1000px) rotate3d(0,1,0,-10deg);
            background-clip: padding-box;
            transition: transform 0.4s 0.2s, top 0.4s 0.2s, left 0.4s 0.2s, width 0.4s 0.4s;
            margin-top:-10px;
            opacity:1;
            z-index:1;
            .feat-img {
                position: absolute;
                top:0;
                left:0;
                width:100%;
                padding-bottom:100%;
                display: block;
                overflow:hidden;
                transform:translateZ(1px) translateY(-2%);
                @media screen and (min-width:768px) {
                    animation:floaty 4s ease infinite alternate;
                }
                box-shadow:rgba($black, 0.1) 10px 10px 20px;
                img {
                    position: absolute;
                    left: 50%;
                    top: 0;
                    transform:translate(-50%,);
                    min-height:100%;
                    min-width:100%;
                }
            }
            &:nth-of-type(2n) {
                left:10%;
                top:60%;
                z-index:0;
                .feat-img {
                    @media screen and (min-width:768px) {
                        animation:floaty 4s ease infinite alternate 1.5s;
                    }
                }
            }
        }
        @media screen and (min-width:768px) {       
            margin:0;     
            &:hover {
                a {                
                    transform:translateY(-50%) translateX(-100%) perspective(0) rotate3d(0,1,0,-0deg);
                    left:-15px;
                width:100%;
                    img {
                        opacity:1;
                    }
                    &:nth-of-type(2n) {             
                        transform:translateY(-50%) perspective(0) rotate3d(0,1,0,-0deg);
                        top:50%;
                        left:15px;
                    }
                }
            }
        }
    }
    &.dark-bg {
        h1 {
            color:$blue;
        }
    }
}

.gslider {
    .gslide-image {
        overflow-y:auto;
        max-height:90vh;
        align-items:start;
        img {
            max-height:none;
            max-width:80vw;
        }
    }
}

@keyframes floaty {
    0% {
        transform:translateZ(1px) translateY(-2%);
    }
    100% {
        transform:translateZ(1px) translateY(2%);
    }
}