$white:         #fff;
$black:         #222;
$grey_dark:     #444;
$charcoal:      #666;
$grey:          rgb(112, 112, 112);
$grey2:         rgb(173, 173, 173);
$grey3:         rgb(221, 221, 221);
$green:         #0abaa2;
$pink:          #ce3c87;
$purple:        #7d48b9;
$pastel_pink:   lighten($pink, 25%);
$pastel_purple: lighten($purple, 30%);
$pastel_green:  lighten($green, 30%);
$blue:          #0a88ba;
$pastel_blue:   #daf5ff;
