{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

<div class="module intro" id="{{ _self.pageLinkName(page.header.menu) }}">


    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
            {% if uri.query('hi') == 'roli' %}
                <h1 class="intro-msg">Hi, Roli ;)</h1>
                <h3>This is creepy, I know. Whatever, let's talk jobs.</h3>
                <p>I'm Emil - I'm a digital designer with a bunch of dev experience, and I produce electronic music. I've been interested in your products for a while, and I have a diverse range of skills which I believe put me in a unique position to bring something special to this role. Take a look around, and I hope to hear from you soon!</p>
            {% else %}
                <h1 class="intro-msg">{{ page.header.intro_msg }}</h1>
                {{ page.content }}
                <a href="#get_in_touch" class="btn smoothscroll"><span>Get in touch</span></a>
            {% endif %}
            </div>
        </div>
    </div>
</div>