{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

<div class="module intro" id="{{ _self.pageLinkName(page.header.menu) }}">
    <div class="container">
        <div class="row">
            <div class="col-12">
            {{ page.content }}
            </div>
        </div>
    </div>
</div>