html, body {
    margin:0;
    padding:0;
    background:#0aa7ba;
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    line-height:1.8em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    line-height:1em;
    margin:0.3em 0 0.2em;
}

h1 {
    font-size:70px;
}

h2 {
    font-size:36px;
}

h3 {
    font-size:28px;
    font-weight: 500;
}

a {
    opacity:0.8;
    transition:opacity 0.3s;
    color:inherit;
    &:hover, &:focus {
        opacity: 1;
    }
}

* {
    box-sizing:border-box;
}

img {
    max-width: 100%;
}