html, body {
    margin:0;
    padding:0;
    background:$blue;
    color:$white;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    line-height:1.6em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    line-height:1em;
    margin:0.3em 0 0.2em;
}

h1 {
    font-size:70px;
}

h2 {
    font-size:36px;
}

h3 {
    font-size:28px;
    //font-weight: 500;
}

a {
    opacity:0.8;
    transition:opacity 0.3s;
    color:inherit;
    &:hover, &:focus {
        opacity: 1;
    }
}

* {
    box-sizing:border-box;
}

img {
    max-width: 100%;
}

.light-bg {    
    background:$white;
    color:$black;
    p {
        color:$charcoal;
    }
    .btn {        
        background:linear-gradient(-45deg, $purple, $blue);
        background-size:180% 180%;
        animation: gradient 40s ease infinite;
        opacity:0.9;
        transition:opacity 0.3s, box-shadow 0.3s;
        span {
            background:$white;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            transition:opacity 0.3s;
        }
        &:hover {
            background:linear-gradient(-45deg, $purple, $blue);
            background-size:180% 180%;
            animation: gradient 40s ease infinite;
            opacity:1;
            span {      
            }
        }
    }
}

.colour-bg {
    background:linear-gradient(-45deg, $pink, $purple, $blue, $green) fixed;
    background-size:180% 180%;
    animation: gradient 40s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.btn {
    box-shadow: rgba(black, 0.1) 0px 4px 0px;
    color:rgba($black, 0.8);
    display: inline-block;
    padding:10px 20px;
    border-radius:5px;
    min-width:150px;
    text-align:center;
    text-decoration:none;
    font-weight:bold;
    position: relative;
    overflow:hidden;
    background:rgba($white, 0.9);
    opacity:1;
    font-size:20px;
    transition:background 0.3s, box-shadow 0.3s;
    margin-top:15px;
    span {
        display: block;
        background:linear-gradient(-45deg, $pink, $purple, $blue, $green);
        background-attachment:fixed;
        background-size:180% 180%;
        animation: gradient 40s ease infinite;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        position: relative;
        z-index:1;
    }
    &:hover {
        background:rgba($white, 1);
        box-shadow: rgba(black, 0.1) 0px 7px 0px;
    }
}